<?xml version="1.0"?>
<model>
  <name>target_sphere</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  
  <author>
    <name>RL Training Environment</name>
    <email>user@example.com</email>
  </author>
  
  <description>
    Small red target sphere for RL robot training
  </description>
</model>